
/*Ngjyrat qe do ti perdorim ne projekt*/
:root{
  --primary:#1976D2;
  --secondary: #00BCD4;
  --text-dark: #333; 
  --text-light: #fff;
  --background: #f8f9fa;
  --hero-heading: #2c3e50;
  --link-hover: #0056b3;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  color: #333;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin:auto;
}

/*NavBar*/

.navbar{
  background: white;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.navbar .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  color: #1976D2;
  font-size: 22px;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
}
.navbar ul li {
  margin-left: 20px;
}
.navbar ul li a {
  text-decoration: none;
  color: #333;
}

.navbar ul li a:hover{
  color: #1976D2;
}

/*buttons*/

.btn-login{
  color:#1076D2;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 4px;

}
.btn-primary{
  background: #1976D2;
  color: white;
  padding: 10px 20px;
  border: none;
}
.btn-secondary{
  border: 2px solid #1976D2;
 padding: 10px 20px;
 background: white;
}

/*Hero content*/
.hero-section {
    background: linear-gradient(135deg, #9fb4c9 0%, #f9f9f9 95%);
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.hero-content h1{
  font-size: 40px;
  font-weight: 800;
  color: #1976D2;
  margin-bottom: 20px;
}
.hero-content p{
  color: #555;
  margin-bottom: 25px ;
}
.hero-actions{
  display: flex;
  gap:15px;
  margin-bottom: 30px;
}

.stats{
  display: flex;
  gap: 30px;
  margin-top: 20px;
}
.stat-number{
  font-size:25px;
  font-weight: bold;
  color: #1976D2;
}
.stat-label{
  font-size: 14px;
  color: #777;
}
.hero-categories{
  margin-top:40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}
.category-card{
  width:280px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.card-icon{
  font-size: 22px;
  margin-bottom: 10px;
}
.card-title{
  font-size: 18px;
  font-weight: bold;
}
.card-subtitle{
 font-size: 14px;
 color:#666;
}
.card-music{
  background: #acd4ff;
}
.card-sport{
  background: #dff9ff;
  margin-right:60px;
}
.card-art{
  background: #e4fffe;
  margin-top: -60px;
}




